.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
source/org/auto/*
source/org/*.pdf
source/org/*.tex
source/org/*.html
/source/index/index.md
/source/index.md
source/_posts/
*.png
*.tikz